<link rel="stylesheet" href="../../css/transactions-style.css">

<div class="oj-hybrid-padding">
  <h1>Transactions Page</h1>

  <div data-bind="visible:isAdmin">
    <!-- <button data-bind="click: listTransactions">List Transactions</button> -->
    <!-- <br><br> -->

    <!-- FILTERING -->
    <div class="filter-container">
      <label for="customerFilter">Filter by Customer Name or ID:</label>
      <input id="customerFilter" type="text" data-bind="value: customerFilter, valueUpdate: 'input'"
        placeholder="Enter customer name or ID" />

      <label for="stockFilter">Filter by Stock Name or ID:</label>
      <input id="stockFilter" type="text" data-bind="value: stockFilter, valueUpdate: 'input'"
        placeholder="Enter stock name or ID" />

      <button data-bind="click: filterTransactions">Apply Filter</button>
      <button data-bind="click: clearFilters">Clear Filters</button>
    </div>



    <div class="table-responsive">

      <table border="1" cellpadding="8" cellspacing="0">
        <thead>
          <tr>
            <th>Transaction ID</th>
            <th>Customer Id</th>
            <th>Customer Name</th>
            <th>Stock Id</th>
            <th>Stock Name</th>
            <th>Transaction Type</th>
            <th>Transaction Price</th>
            <th>Quantity</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody data-bind="foreach: filteredTransactions">
          <tr>
            <td data-bind="text: txnId"></td>
            <td data-bind="text: customer.customerId"></td>
            <td data-bind="text: customer.firstName + ' ' + customer.lastName"></td>
            <td data-bind="text: stock.stockId"></td>
            <td data-bind="text: stock.name"></td>
            <td data-bind="text: txnType, style: { color: txnType === 'SELL' ? 'red' : 'green' }"></td>
            <td data-bind="text: txnPrice"></td>
            <td data-bind="text: qty"></td>
            <td data-bind="text: txnDate"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div data-bind="visible:!isAdmin()">
    <div class="filter-container">

      <label for="stockFilter">Filter by Stock Name or ID:</label>
      <input id="stockFilter" type="text" data-bind="value: stockFilter, valueUpdate: 'input'"
        placeholder="Enter stock name or ID" />

      <button data-bind="click: filterTransactions">Apply Filter</button>
      <button data-bind="click: clearFilters">Clear Filters</button>
    </div>

    <div class="table-responsive">

      <table border="1" cellpadding="8" cellspacing="0">
        <thead>
          <tr>
            <th>Transaction ID</th>
            <!-- <th>Customer Id</th>
          <th>Customer Name</th> -->
            <th>Stock Id</th>
            <th>Stock Name</th>
            <th>Transaction Type</th>
            <th>Transaction Price</th>
            <th>Quantity</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody data-bind="foreach: filteredTransactions">
          <tr>
            <td data-bind="text: txnId"></td>
            <!-- <td data-bind="text: customer.customerId"></td>
          <td data-bind="text: customer.firstName + ' ' + customer.lastName"></td> -->
            <td data-bind="text: stock.stockId"></td>
            <td data-bind="text: stock.name"></td>
            <td data-bind="text: txnType, style: { color: txnType === 'SELL' ? 'red' : 'green' }"></td>
            <td data-bind="text: txnPrice"></td>
            <td data-bind="text: qty"></td>
            <td data-bind="text: txnDate"></td>
          </tr>
        </tbody>
      </table>
    </div>


  </div>
</div>